html {
  font-family: Verdana, sans-serif;
  background-color: black;
}

/*sets the title White and centers*/
h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

/*adjusts 2nd and third headers*/
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

/*adjusts the placeholder link color*/
.link1 {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}

/*centers text, images, and photos*/
p {
  text-align: center;
}

h3 {
  font-size: 21px;
  color:grey;
  text-align:center;
}

.footer {
  text-align:right;
  color:grey;
}
