html {
  font-family: Verdana, sans-serif;
  background-color: black;
}

/*sets the title White and centers*/
h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

/*adjusts the placeholder link color*/
.link1 {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
p {
  text-align: center;
}
